/InventoryManagementSystem/nbproject/private/
/SaleManagement/build/
/InventoryManagementSystem/build/
/Inventory/nbproject/private/
/InsertData/nbproject/private/
/InsertData/build/
/Inventory/build/
/Research and Development/nbproject/private/
/Research_and_Development/nbproject/private/
/ResearchAndDevelopment/nbproject/private/
/ResearchAndDevelopment/build/
/ImageAtJTableWithMysql/nbproject/private/
/ImageAtJTableWithMysql/build/
/ImageSetup/nbproject/private/